<!DOCTYPE html>
<html lang="en" xmlns:th="https//www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>View products</h2>
<table>
    <tr>
        <th>pr name</th>
        <th>pr price</th>
    </tr>
    <tr th:each="p: ${products}">
        <td th:text="${p.name}"></td>
        <td th:text="${p.price}"></td>
    </tr>
</table>
<h2>Add a product</h2>
<form action="/ch7_ex1-0.0.1-SNAPSHOT/products" method="POST">
    Name: <input type="text" name="name"> <br/>
    Price: <input type="number" step="any" name="price"> <br/>
    <button type="submit">Add product</button>
</form> <br/>
<form action="/ch7_ex1-0.0.1-SNAPSHOT/products1" method="POST">
    Name: <input type="text" name="name"> <br/>
    Price: <input type="number" step="any" name="price"> <br/>
    <button type="submit">Add product</button>
</form> <br/>

</body>
</html>